<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>info.augendre.alfred.paperless-go</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3616F71E-A4C1-478D-BAE9-3DD2122AB986</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D88B60C-CF12-410D-9E54-C45AB5E06E5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>gaugendre</string>
	<key>description</key>
	<string>Search &amp; open paperless files from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paperless</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ppl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Querying Paperless...</string>
				<key>script</key>
				<string>./ppl-go "${paperless_url}" "${paperless_token}" "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Paperless</string>
				<key>title</key>
				<string>Paperless</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3616F71E-A4C1-478D-BAE9-3DD2122AB986</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8D88B60C-CF12-410D-9E54-C45AB5E06E5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search files on your paperless instance and open them in your browser using this workflow. See [GitHub](https://github.com/Crocmagnon/paperless-alfred-go) for the most up-to-date instructions.

Instructions to retrieve your API token are available [on the Paperless documentation](https://docs.paperless-ngx.com/api/#authorization) (3. Token authentication).</string>
	<key>uidata</key>
	<dict>
		<key>3616F71E-A4C1-478D-BAE9-3DD2122AB986</key>
		<dict>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>8D88B60C-CF12-410D-9E54-C45AB5E06E5A</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>https://paperless.example.com</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Base URL of your Paperless instance. No trailing slash.</string>
			<key>label</key>
			<string>Paperless URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>paperless_url</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>123456789abcdefgh</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your Paperless token.</string>
			<key>label</key>
			<string>Paperless token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>paperless_token</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/Crocmagnon/paperless-alfred-go</string>
</dict>
</plist>
